@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/

/*------------------------------------*\
    IMPORTS AND SETUP
\*------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
@import "css/vars";
@import "css/inuit.css/inuit";

/*------------------------------------*\
    GENERAL
\*------------------------------------*/
* {
    color: #333;
}
a {
    color: #000;
    &:hover {
        color: $falcon-red;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: $brand-face;
    font-weight: normal;
}
ul {
    margin-left: 3px;
    list-style-position: inside;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: $falcon-red;
    background-color: #D4F3FF;
    border-radius: 4px;
}
img {
    max-width: 100%;
}

/*------------------------------------*\
    CONTAINERS
\*------------------------------------*/
.site-content {
    width: 100%;
    max-width: $max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
.meta-row {
    padding-top: 12px;
    border-top: 1px solid $falcon-blue;
}
@media (max-width: $desk-start) {
    .one-half {
        width: 100%;
    }
}

/*------------------------------------*\
    HEADER FOOTER
\*------------------------------------*/
.header-wrapper,
.footer-wrapper {
    @extend .site-content;
    border: 1px solid #EEE;
    border-width: 0;
}

.header-wrapper {
    margin: 25px auto;
    border-top-width: 1px;
}

.footer-wrapper {
    margin: 25px auto;
    border-top-width: 1px;
    text-align: center;
}
.primary-wrapper {
    text-align: right;
}
.icon-wrapper {
    text-align: center;
}
.external-wrapper {
    text-align: left;
}

@media (max-width: $desk-start) {
    .header-wrapper {
        margin: 15px auto;
    }
}

/*------------------------------------*\
    SITE ICON
\*------------------------------------*/
.site-icon {
    display: inline-block;
    background-color: $falcon-red;
    @include vendor(background, linear-gradient(#D00303, maroon));
    color: white;
    border: 1px #888 solid;

    padding: 15px 33px 5px;
    border-radius: 50%;
    font-size: 65px; // giant initial
    font-family: $brand-face;
    margin-top: -15px;
    font-weight: normal;
    @include vendor(transition, opacity 500ms linear);
    line-height: 100%;

    &:hover {
        opacity: 0.8;
    }
}
@media (max-width: $desk-start) {
    .site-icon {
        padding: 15px 27px 0;
        font-size: 50px;
    }
}


/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/
.nav--top {
    li {
        border-bottom: 1px solid #EEE;
        font-size: 15px;
        margin: 0 18px;
        text-transform: uppercase;
        &:hover, &.current-menu-item, &.current_page_parent {
            background-color: #EEE;
        }
        &:hover {
            border-bottom: 1px solid $falcon-blue;
        }
        a {
            padding: 20px 8px;
            text-decoration: none;
            color: $falcon-red;
        }
        font-family: $brand-face;
    }
}
@media (max-width: $desk-start) {
    /* à la .nav--stacked from inuit.css */
    .nav--top > li{
        text-align: center;
        display:list-item;
        > a {
            display:block;
            padding: 10px 8px;
        }
    }
}

.nav--primary li {
    margin-right: 0;
}
.nav--external li {
    margin-left: 0;
}

/*------------------------------------*\
    WIDGET
\*------------------------------------*/
// These styles may become home page specific... undecided at present
.widget {
    > * {
        padding: 8px 20px 7px;
    }
    border-radius: 5px;
    background: #EEE;
    overflow: hidden;
    margin-bottom: $base-line-height;
}
.widget-title {
    background: url('./img/washi.png') repeat;
    color: #000;
    border-bottom: 1px #CCC solid;
}

.widget_nav_menu {
    .widget-title {
        background: url('./img/washi-blue.png') repeat;
        color: #FFF;
    }
}

.widget_recent_entries,
.widget_nav_menu {
    .widget-title {
        margin-bottom: 0;
    }
    div, ul {
        padding: 0;
    }
    ul {
        @extend .nav;
        @extend .nav--stacked;
        margin-bottom: 0;
        li {
            border-top: #FFF 1px solid;
            &:hover {
                background: #FAFAFA;
            }
            a {
                padding: 8px 20px;
                text-decoration: none;
            }
        }
    }
}

/*------------------------------------*\
    PAGE AND POST
\*------------------------------------*/
.lone-content { // i.e. no sidebar in site
    max-width: 600px;
    margin: 0 auto $base-line-height;
}

/*------------------------------------*\
    WORDPRESS SPECIFIC
\*------------------------------------*/
.entry-header {
    position: relative;
}
.entry-title {
    a {
        text-decoration: none;
        border-bottom: 1px dotted transparent;
        &:hover {
            border-bottom: 1px dotted #000;
        }
    }
}
.entry-meta {
    position: absolute;
    right: 103%;
    top: 0;
    width: 66px;
    border: 1px dotted #000;
    border-width: 0 1px 0 0;
    padding: 0 8px;
    text-align: center;
    margin-bottom: $base-line-height;
    a {
        text-decoration: none;
    }
}
.entry-content {
    a {
        color: $falcon-red;
        &:hover {
            color: $falcon-blue;
        }
    }
}

.posts-navigation {
    h2 {
        display: none;
    }
    text-align: center;
    border-top: 1px solid #EEE;
    margin: 20px auto;
    max-width: 500px;
}
@media (max-width: $desk-start) {
    .entry-meta {
        border-width: 0 0 0 1px;
        width: 100%;
        position: static;
        text-align: left;
    }
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}


/*------------------------------------*\
    ISLET
\*------------------------------------*/
.islet {
    background-color: $falcon-blue;
    color: #F2F2F2;
    a {
        color: #DDD;
        &:hover {
            color: #FFF;
        }
    }
}

/*------------------------------------*\
    FIGURE
\*------------------------------------*/
figure.wp-caption {
    background: #333;
    figcaption {
        color: #EEE;
        font-size: 0.8em;
    }
}


/*------------------------------------*\
    HOME-SPECIFIC
\*------------------------------------*/
.floating-blog-preview {
    float: right;
    width: 45%;
    margin: 0 0 0 25px;
}
@media (max-width: $lap-start) {
    .floating-blog-preview {
        float: none;
        margin: 0 0 20px;
        width: 100%;
    }
}
